<label>{{label}}</label>
<div class="container" (click)="focusInput()">
  <div class="input">
    <ali-pill *ngFor="let item of value" [value]="item" (click)="cancelFocus($event)" (remove)="handleRemove(item)">
    </ali-pill>
    <input type="text" (keyup)="filterOptions()" (blur)="onBlur($event)"
      [placeholder]="value.length === 0 ? placeholder : ''" #input />
  </div>
  <ali-icon type="search" theme="dark"></ali-icon>
</div>
<ali-revealing-panel [expanded]="showResults" fill trim>
  <ul *ngFor="let option of optionsList">
    <ali-list-item (click)="handleAdd(option)" [value]="option"></ali-list-item>
  </ul>
</ali-revealing-panel>
