:host {
  display: block;
  overflow: hidden;
  height: 0;
  background: var(--white);
}

:host([aria-expanded]) {
  box-shadow: var(--shadow);
  border: 1px solid var(--grey-500);
  height: auto;
  padding: 1em;
}

:host([fill]) {
  padding: 0;
}

:host([trim]) {
  border-top: none;
}
